/* ganjing blue #2196f4 */
/* ganjing blue - light #abdaff */
/* ganjing blue - button activate #216cc7 */
/* button text #2a3035 */
/* light gray #8c8c8c */
/* white #8c8c8c */

body {
    margin: 0;
    padding: 0;
    background-color: #fff;
    font: 14px 'Open Sans', sans-serif;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}
