#Generic IDE and OS
.DS_Store
*.iml
.idea

#Build Tool
node_modules/
npm-debug.log
dist/
coverage/

#Custom
.junk/
public/

#Yarn v2 methodology - Zero-installs
.yarn/*
!.yarn/cache
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
