#Malicious npm module infections and breaking changes being introduced in minor/patch releases (failing to follow semver) can typically be avoided with using exact versions of dependencies
#These seem to happen enough to warrant this
save-exact=true
