.album {
    position: relative;
    display: inline-block;
    margin: 20px;
    width: 300px;
    height: 300px;
    text-align: center;
}

.album-selected {
    outline: 10px dashed #999;
}

.album-overlay {
    position: absolute;
    display: flex;
    top: 0;
    color: white;
}

.spotify-link, .mark-as-seen {
    display: inline-block;
    width: 150px;
    height: 300px;
    cursor: pointer;
}

.spotify-link:hover, .mark-as-seen:hover {
    background-color: rgba(0, 0, 0, .75);
    transition: background-color .3s;
}

.overlay-link-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}
