<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= title %></title>
    <link id=favicon rel="shortcut icon" type=image/png href="/icon.png"/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#2196f3">

    <style>
        html, body {
            margin: 0;
            padding: 0;
        }

        a {
            text-decoration: none;
        }

        div {
            text-align: center;
            font-size: 72px;
            font-family: 'Open Sans', sans-serif;
            color: #2196f3;
        }

        div:hover {
            background-color: #2196f3;
            color: white;
        }
    </style>
</head>
<body>

<% appInfos.forEach(app => { %>
    <a href="<%= app.url %>">
        <div><%= app.name %></div>
    </a>
<% }) %>

</body>
</html>
