.action-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    border-bottom: 3px solid #999;
}

.refresh-button {
    border: 1px dashed black;
    display: flex;
    width: 30px;
    height: 30px;
    padding: 5px;
}

.refresh-button:hover, .mark-as-seen-button:hover {
    border: 2px dashed black;
    padding: 4px;
}

.refresh-icon {
    max-width: 100%;
    height: auto;
}

.mark-as-seen-button {
    border: 1px dashed black;
    height: 30px;
    margin-left: 20px;
    padding: 5px;
}

.mark-as-seen-icon {
    max-height: 100%;
    width: auto;
}
